#Jetbrains
*.iws
*.ipr
*.iml
.idea/
out/

#Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
*.launch

#NetBeans
**/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Gradle
.gradle/
build/